@import "../../global-styles.scss";

.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerWrapper button:disabled {
  opacity: 0.8;
  cursor: auto;
}

.formWrapper {
  @extend .footerWrapper;
  flex-direction: column;
}

.formWrapper input {
  font-size: $submitLabelFontSize;
  border: none;
  border-bottom: 2px solid $submitColorScheme;
  color: $submitColorScheme;
  width: auto;
}

.statusWrapper {
  @extend .footerWrapper;
  flex-wrap: nowrap;
  font-size: 1.8em;
  transition: background-color 150ms;
}
