@import "../../global-styles.scss";

.gameActionButton[type="button"] {
  background: $actionButtonBackgroundColor;
  border-radius: 8%;
  padding: 0;
}

.gameActionButton img {
  background-color: lightgrey;
  border-radius: 8%;
  max-width: 250px;
  padding-top: 10px;
  transition: background-color 300ms;
  width: 20vw;
}

.standardRound {
  border: 4px solid $headerColor;
}

.multiplierRound {
  border: 4px solid $multiplierHoverBackground;
}

.standardRound:hover {
  background-color: $standardHoverBackground;
  transition: background-color 200ms;
}

.multiplierRound:hover {
  background-color: $multiplierHoverBackground;
  transition: background-color 200ms;
}
