@import "../../global-styles.scss";

.wrapper {
  padding: 0 1.5rem;
  max-width: 800px;
  margin: auto;

  & .sectionWrapper:nth-child(2) {
    margin-top: 2rem;
  }
}

.sectionWrapper {
  border: 2px solid $headerColor;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding: 1rem;
}

.scoreWrapper {
  align-content: center;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  margin: 1rem auto;

  & label {
    margin: auto;

    & span {
      color: green;
    }
  }
}

.subScoreWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;

  & > label {
    margin: auto 2%;
  }

  & label:nth-child(2) {
    & span {
      color: red;
    }
  }
}

.roundWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding-top: 10px;
  width: 65%;

  & div:nth-child(1) {
    align-content: center;
    display: flex;
    justify-content: center;
  }

  & div:nth-child(2) {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;

    & > label {
      margin: auto 2%;
    }

    & label:nth-child(2) {
      & span {
        color: red;
      }
    }
  }
}
