@import "../../global-styles.scss";

.flex {
  display: flex;
}

.wrapper {
  @extend .flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 1em auto;
}

.scoreWrapper {
  @extend .flex;
  justify-content: center;
  margin: 1.5em auto;

  & label {
    font-size: $scoreFontSize;

    & span {
      color: green;
    }
  }
}

.subScoreWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: $subScoreFontSize;

  & span {
    color: green;
  }

  & label:nth-child(2) {
    & span {
      color: red;
    }
  }
}

.roundWrapper {
  @extend .flex;
  flex-direction: column;
  font-size: $subScoreFontSize;
}
