@import "../../global-styles.scss";

.wrapper {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.scoreWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.scoreWrapper label {
  padding-top: 10px;
  font-size: $scoreFontSize;
}

.scoreWrapper label span {
  color: green;
}

.subScoreWrapper {
  display: flex;
  font-size: $subScoreFontSize;
  justify-content: space-around;
  padding: 0 5vw;
}

.subScoreWrapper span {
  color: green;
}

.subScoreWrapper label:nth-child(2) span {
  color: red;
}
