@import "../../global-styles.scss";

.labelWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 6%;
  padding-left: 10px;
  background-color: $headerColor;
  color: white;
  font-size: 24px;

  & span {
    display: flex;
    justify-content: center;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 10%;
    padding: 7px;
    margin-left: 10px;
    color: black;
  }
}

.labelWrapper:hover {
  border: 2px solid orange;
  transition: border 250ms;

  & span {
    color: black;
  }
}
