@import "../../global-styles.scss";

.labelWrapper {
  font-size: 24px;
  border: 2px solid black;
  border-radius: 6%;
  padding-left: 10px;
  background-color: $headerColor;
  color: white;

  & span {
    background-color: orange;
    border: 2px solid orange;
    border-radius: 10%;
    padding: 7px;
    margin-right: 5px;
    margin-left: 10px;
    color: black;
  }
}

.labelWrapper:hover {
  border: 2px solid orange;
  transition: border 250ms;

  & span {
    color: black;
  }
}
