//Game Region
$gameFontSize: 1.5em;

//Header
$headerColor: #2980b9;
$headerFontSize: 45px;

//Game Action Buttons
$actionButtonBackgroundColor: rgb(211, 211, 211);

//Main ScoreBoard
$scoreFontSize: 1.8em;
$subScoreFontSize: 1em;

//Duel Modal
$duelHeadingFontSize: 4em;
$sliderGrey: rgba(255, 255, 255, 0.8);
$duelGreen: #2ECC71;
$duelRed: #E74C3C;
$duelDraw: #7a7a7a;
$sliderBandWidth: 80px;
$transitionSpeed: 7500ms;
$backgroundZoom: 120%;

//Submit Modal
$submitLabelFontSize: 25px;
$submitColorScheme: red;