//Game Region
$gameFontSize: 1.5em;

//Header
$headerColor: #2980b9;
$headerFontSize: 45px;

//Game Action Buttons
$actionButtonBackgroundColor: rgb(211, 211, 211);

//Main ScoreBoard
$scoreFontSize: 1.8em;
$subScoreFontSize: 1em;

//Duel Modal
$duelHeadingFontSize: 4em;

//Submit Modal
$submitLabelFontSize: 25px;
$submitColorScheme: red;
